build/
build_*/
build-wheel/
cmake-build-*/
ci_smoke/
ci_smoke_build/
ci_*_cache/
dist/
wheelhouse/
*.egg-info/
.eggs/
.pytest_cache/
.conan/
.idea/
__pycache__/
*.pyc
tmp_*_cache/
tmp_*.fce
tmp_*.json
_CPack_Packages/
cache.lock
